.title {
	color: #d59d4c;
	background-color: black;
	margin: 20px;
	padding: 20px;
}
.mid {
	color: firebrick;
	margin-top: 20px;
	text-align: center;
	height: auto;
	width: 100%;
}
.main {
	height: 400px;
	background-color: blue;
	margin: 20px;
	margin-left: 3%;
}
.side {
	height: 400px;
	margin: 20px;
	background-color: darkviolet;
}
.footer {
	width: 100%;
	height: 50px;
	background-color: #d59d4c;
	margin: 20px;
}
