form {
	margin-top: 1rem;
}

.feedback {
	margin-left: 0.5rem;
}

.no-margin {
	margin-bottom: 0;
}

.btn {
	margin-bottom: 10px;
}

.btn-link {
	border: 0;
	padding: 0;
	text-decoration: underline;
	background-color: inherit;
}
