.sticker {
	height: 50px;
	width: 100%;
	border: 0;
	border-radius: 0.5rem;
	margin-top: 1rem;
	background: linear-gradient(45deg, #fe6b8b, #ff8e53);
	color: inherit;
	font-weight: bold;
	font-size: large;
}

.sticker:hover {
	cursor: pointer;
	/* margin-top: 0.75rem;
	margin-bottom: 0.25rem; */
	font-size: x-large;
	background: linear-gradient(45deg, #ff8e53, #fe6b8b);
	transition: 0.5s;
}

@keyframes movesOut {
	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(-50px) rotate(-30deg);
	}
}
.sticker:hover .img-sticker {
	-webkit-animation: movesOut 2s;
	animation: movesOut 0.5s both;
}

.img-sticker {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	height: 50px;
	width: 50px;
}

.text-sticker {
	font-size: x-large;
	padding-left: 1rem;
}
