h2 {
	margin-top: 1rem;
}

.feedback {
	margin-left: 0.5rem;
}

.no-margin {
	margin-bottom: 0;
}

.btn {
	margin: 0.5rem;
	font-weight: bold;
}

#notif-btn,
#pwd-btn {
	margin: 0;
}

#notif-info {
	font-style: italic;
}

.btn:hover:disabled {
	cursor: not-allowed;
}

.form-control:hover:disabled {
	cursor: not-allowed;
}

.inline-btn {
	display: flex;
	justify-content: center;
}
