form {
	margin-top: 50px;
}

.feedback {
	margin-left: 0.5rem;
}

.no-margin {
	margin-bottom: 0;
}

.btn {
	margin: 0.5rem;
}

.form-control:hover:disabled {
	cursor: not-allowed;
}

.inline-btn {
	display: flex;
	justify-content: center;
}
