.element {
	height: 50px;
	width: 100%;
	border: 0;
	border-radius: 0.5rem;
	margin-top: 1rem;
	background: linear-gradient(45deg, #fe6b8b, #ff8e53);
	color: inherit;
	font-weight: bold;
	font-size: 16px;
	display: flex;
	align-items: center;
	user-select: none;
}

.element:hover {
	cursor: pointer;
	background: linear-gradient(45deg, #ff8e53, #fe6b8b);
}

.element:hover .text-element {
	font-size: 1.4rem;
	transition: 0.25s linear;
}

.img-element {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	height: 50px;
	width: 50px;
}

.text-element {
	font-size: 1.25rem;
	padding-left: 1rem;
}

.action-icon {
	margin-left: 1rem;
}
